@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Se Fores Preto Sorri Na Mesma A Vida São Dois Dias</h1>
	<img src="~/imagens/10484124-removebg-preview.png" style="padding-left:150px;"/>
</div>

